.CodeMirror {
  /* height: 600px !important; */
  border-radius: 5px;
  resize: vertical;

  /* position: absolute !important; */
  /* width: 900px; */
}
.flex {
  padding-top: 40px;
  /* display: flex; */
}
.whiteboard {
  flex: 0.5;
}
.editor {
  flex: 0.5;
  height: 670px;
}
.Dropdown-control {
  cursor: pointer !important;
  padding-bottom: 2px !important;
  height: auto;
  text-align: start;
  font-size: 15px;
  width: auto;
  /* border: none !important; */
  /* margin-left: 5px; */
  box-shadow: none !important;
  border-radius: 10px !important;
}
.Console {
  width: min-content;
  height: 25px;
  background-color: transparent;
  border: none;
  border: 1px solid grey;
  cursor: pointer;
  text-align: start;
  color: #6c7f95 !important;
  align-self: baseline !important;
  text-transform: none !important;
}
.Dropdown-menu {
  /* width: 95px !important; */
  width:auto; 

  border-radius: 10px;
}
.console {
  position: relative;

  height: 100px;
  border: 1px solid purple;
  background-color: white;
}
.consoleplusarea {
  display: flex;
  flex-direction: column;
}
.flex {
  z-index: -10;
}
.testareaoutput {
  /* margin-top: 5px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 160px;
  resize: none;
  border: 1px solid #9eb3cb;
}
.mod {
  z-index: 10;
  margin-top: -726px;
}
textarea:focus {
  outline: none !important;
  border-color: rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.langaugeselector {
  display: flex;
  flex-direction: row;
  /* border:1px solid #6c7f95; */
  width: fit-content;
  height: fit-content;
  /* justify-content: space-between; */
}
.textarea {
  margin-top: 2px;
  align-self: center;
  height: 120px;
  width: 90%;
  resize: none;
}
.testout {
  display: flex;
  flex-direction: row;
  height: 30px;
}
/* .testareaoutput{
    display: flex;
    flex-direction: row;
    height: 40px;
} */
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.submit {
  width: auto;
  height: 30px;
  margin-right: 10px !important;
  border: 1px solid gray !important;
  background-color: RGB(69, 90, 100) !important;
  cursor: pointer;
  text-align: start;
  color: white !important;
  align-self: baseline !important;
  text-transform: none !important;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* left: 0; */
}
.settings {
  display: flex;
  height: 20px;
  width: 20px;
  margin-right: 15px !important;
  cursor: pointer;
  align-self: flex-end;
}

.fontsize {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  /* border: 1px solid black; */
  /* margin-top: 20px; */
  /* margin-left: 10px;
  margin-right: 10px; */
  /* border-bottom: 1px solid #dadfe5; */
}
.textdivide{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 60px;
  /* margin-left: 5px; */
  /* border: 1px solid black; */
}
.size{
  /* margin-right: 5px; */
  width: 170px;
  height: 35px;
}
.head{
  width: 300px;
  height: 30px;
  /* border: 1px solid black; */
}
.desc{
  width: 300px;
  height: 30px;
  /* border: 1px solid black; */
  font-size: small;
  color: #6c7f95;
}
.modal-content{
  border-radius: 25px;

}
