.Content {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  height: 92vh;
}

.whiteboard {
  flex: 0.5;
}
.editor {
  flex: 0.5;
  height: 645px;
}
.options-container{
  display: flex;
  flex-direction: column;
}
.eraser{
  margin-top: 5px;
  height: 25px;
  width: 50px;
}